<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      Add details about the payment here!
    </div>
  </div>
</main>