body {
  font-family: 'Roboto', sans-serif;
  background: #f2f6fa;
}
h1, h2, h3, h4 {
  font-weight: 300;
}
.box-shadow {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow:         0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.border-placeholder {
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
  padding: 5px;
}